<!-- 
<app-products>

</app-products>
<app-structural-directives>
</app-structural-directives>

<button (click)="renderval()">Get all Product</button><br>
<input type="text" #serach>
<button (click)="rendervalById(serach.value)">Get product by id</button>

 <app-users></app-users>
<app-posts>
    </app-posts> -->

<app-footer>
    
</app-footer>
    <!-- <nav>
       
        <br>

        <a routerLink="/users">Users</a>
        <br>
        <br>
        <a routerLink="/posts">Postes</a>
    </nav> -->
     <router-outlet></router-outlet> 

    <!-- <app-header>
  
</app-header> -->

